# Default ignored files
/shelf/
target/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

### Intellij ###
.idea
*.iws
*.iml
*.ipr